<main class="main-index">
  <h1 class="main-index__title">Crea tu tarjeta de visita</h1>
  <p class="main-index__subtitle">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <ul class="main-index__options">
    <li class="options__item">
      <i class="item__pic far fa-object-ungroup"></i>
      <label class="item__title">Diseña</h2>
    </li>
    <li class="options__item">
      <i class="item__pic far fa-keyboard"></i>
      <label class="item__title">Rellena</h2>
    </li>
    <li class="options__item">
      <i class="item__pic fas fa-share-alt"></i>
      <label class="item__title">Comparte</h2>
    </li>
  </ul>
  <nav class="main-index__nav">
    <a class="nav__startlink" href="./design-card.html" title="">Comenzar</a>
  </nav>
</main>
