<include src="./partials/main-design-card-partials/preview.html"></include>
      <section class="main__content">
        <form class= "content__form" action="">
          <include src="./partials/main-design-card-partials/title-fieldset.html"></include>
          <fieldset class="form__design">
            <h2><label class="form__design--colors" for="colors">Colores</label></h2>
          <input type="radio" name="colors" required>
          <fieldset class="form__fill">
        <h2><label class="form__fill--dates" for="dates"></label></h2>
             <input type="radio" name="dates" required>
             <fieldset class="form__share">
              <h2><label class="form__share--button" for="button"></label></h2>
               <input type="radio" name="button" required>
      </form>
      </section>