<main>
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <p class="main__subtitle">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <section class="main__options">
    <div class="option__item">
      <i class="option__pic"></i>
      <h2 class="option__title">Diseña</h2>
    </div>
    <div class="option__item">
      <i class="option__pic"></i>
      <h2 class="option__title">Rellena</h2>
    </div>
    <div class="option__item">
      <i class="option__pic"></i>
      <h2 class="option__title">Comparte</h2>
    </div>
  </section>
  <a class="main__startlink">Comenzar</a>
</main>
