// fonts
$font-main: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;
$font-title: "Merriweather", serif;

// colors
$color-orange: #e17334;
$color-icon: $color-orange;
$color-darkgreen: #114e4e;
$color-secondarytext: $color-darkgreen;
$color-grey: #54585a;
$color-text: $color-grey;
$color-grey2: #d8d8d8;
$color-bordertext: $color-grey2;
$color-grey3: #f5f5f5;
$color-index-background: $color-grey3;
$color-turquoise: #438792;
$color-button: $color-turquoise;
$color-lightgreen: #a2deaf;
$color-border: $color-lightgreen;
