// fonts
$font-main: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;
$font-title: "Merriweather", serif;
$defaultFontSize: 16;

// colors
$color-orange: #e17334;
$color-icon: $color-orange;
$color-darkgreen: #114e4e;
$color-secondarytext: $color-darkgreen;
$color-grey: #54585a;
$color-text: $color-grey;
$color-grey2: #d8d8d8;
$color-bordertext: $color-grey2;
$color-grey3: #f5f5f5;
$color-index-background: $color-grey3;
$color-grey4: #d8d8d8;
$color-borderfooter: $color-grey4;
$color-grey5: rgba(107, 107, 107, 0.5);
$color-smallfooter: $color-grey5;
$color-turquoise: #438792;
$color-button: $color-turquoise;
$color-lightgreen: #a2deaf;
$color-border: $color-lightgreen;
$color-1a: #114e4e;
$color-1b: #438792;
$color-1c: #a2deaf;
$color-2a: #420101;
$color-2b: #bd1010;
$color-2c: #e95626;
$color-3a: #bd690a;
$color-3b: #8a8827;
$color-3c: #815e41;
$color-4a: #0e442b;
$color-4b: #4fd6cf;
$color-4c: #06a060;
$color-5a: #a87a86;
$color-5b: #500b31;
$color-5c: #910a6f;
