@import "../layout/preview";
@import "../layout/design";
@import "../layout/fill";
@import "../layout/share";
@import "../layout/footer-design-card";

.content__form {
  width: 100%;
  margin: 7px auto;
}
.form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__iconL {
  font-size: 18px;
  color: $color-icon;
  margin-right: 10px;
  margin-left: 20px;
}
.form__text {
  font-size: 18px;
  font-family: $font-main;
  color: $color-text;
  text-transform: uppercase;
  margin-top: 10px;
}
.form__iconR {
  font-size: 18px;
  margin-right: 20px;
  color: $color-text;
}
