<section class="js-collapsable-container">
  <include
    src="title-fieldset.html"
    iconL="far fa-object-ungroup"
    title="Diseña"
    iconR="fas fa-angle-up"
  ></include>

  <div class="colorselection hidden__container">
    <legend class="radioTitle">Colores</legend>
    <include src="coloroption.html" number="1" val="1"></include>
    <include src="coloroption.html" number="2" val="2"></include>
    <include src="coloroption.html" number="3" val="3"></include>
    <include src="coloroption.html" number="4" val="4"></include>
    <include src="coloroption.html" number="5" val="5"></include>
  </div>

  <div class="form__border"></div>
</section>
