<div class="colorselection">
  <div class="pallete1">
    <label for="pallete1">
      <input
        class="coloroption"
        type="radio"
        name="coloroption"
        value="pallete1"
      />
      <div class="pallete1__a"></div>
      <div class="pallete1__b"></div>
      <div class="pallete1__c"></div>
    </label>
  </div>
  <div class="pallete2">
    <label for="pallete2">
      <input
        class="coloroption"
        type="radio"
        name="coloroption"
        value="pallete2"
      />
      <div class="pallete2__a"></div>
      <div class="pallete2__b"></div>
      <div class="pallete2__c"></div>
    </label>
  </div>
  <div class="pallete3">
    <label for="pallete3">
      <input
        class="coloroption"
        type="radio"
        name="coloroption"
        value="pallete3"
      />
      <div class="pallete3__a"></div>
      <div class="pallete3__b"></div>
      <div class="pallete3__c"></div>
    </label>
  </div>
</div>
