<label for="fullname">Nombre completo</label>
<input type="text" name="fullname" id="fullname" class="form__fill__label" placeholder="Ej: Sally Jill" required />
<label for="job">Puesto</label>
<input type="text" name="job" id="job" class="form__fill__label" placeholder="Ej:Front-end unicorn" required />
<label for="photo">Imagen de perfil</label>
<div class="form__fill__label-img">
    <button class="form__fill__label--bt ">
        Añadir imagen
      </button>
    <input type="file" name="photo" id="photo" value="Añadir imagen"/>
</div>
<label for="email">Email</label>
<input type="email" name="email" id="email" class="form__fill__label" placeholder="Ej:sally-hill@gmail.com" required />
<label for="phone">Teléfono</label>
<input type="tel" name="phone" id="phone" class="form__fill__label" placeholder="Ej:555-55-55" required />
<label for="linkedin">linkedin</label>
<input type="text" name="linkedin" id="linkedin" class="form__fill__label" placeholder="Ej: linkedin.com/in/Sally Jill" required />
<label for="github">github</label>
<input type="text" name="github" id="github" class="form__fill__label" placeholder="Ej: @Sally-Jill" required />