<section class="main__preview">
  <button class="preview__resetbutton">
    <i class="far fa-trash-alt"></i> reset
  </button>
  <div class="preview__card">
    <div class="card__line card__line--color">
      <h2 class="card__name card__name--color">nombre apellido</h2>
      <h3 class="card__job">Front-end developer</h3>
    </div>
    <img class="card__pic js__profile-preview" src="./assets/images/preview.jpg" />
    <ul class="card__contact">
      <li class="contact__icon contact__icon--color">
        <a
          class="contact__icon__pic fas fa-mobile-alt"
          href="@@phone"
          target="_blank"
        ></a>
      </li>
      <li class="contact__icon contact__icon--color">
        <a
          class="contact__icon__pic far fa-envelope"
          href=""
          target="_blank"
        ></a>
      </li>
      <li class="contact__icon contact__icon--color">
        <a
          class="contact__icon__pic fab fa-linkedin-in"
          href=""
          target="_blank"
        ></a>
      </li>
      <li class="contact__icon contact__icon--color">
        <a
          class="contact__icon__pic fab fa-github-alt"
          href=""
          target="_blank"
        ></a>
      </li>
    </ul>
  </div>
</section>
