<include
  src="title-fieldset.html"
  iconL="fas fa-share-alt"
  title="Comparte"
  iconR="fas fa-angle-down"
></include>
<div class="share__content">
  <div class="button">
    <div class="button__text">
      <i class="far fa-address-card button__icon"></i>Crear tarjeta
    </div>
  </div>
  <div class="shared">
    <h3 class="shared__text">La tarjeta ha sido creada:</h3>
    <div class="shared__link">https://awesome-profile-card.comBLABLABLA</div>
    <div class="shared__button">
      <div class="shared__button--text">
        <i class="shared__icon fab fa-twitter shared__button--icon"></i
        >Compartir en Twitter
      </div>
    </div>
  </div>
</div>
