<section class="sharecards js-collapsable-container collapsable--close">
  <include
    src="title-fieldset.html"
    iconL="fas fa-share-alt"
    title="Comparte"
    iconR="fas fa-angle-up"
  ></include>

  <div class="share__content hidden__container">
    <div class="js-response message hidden"></div>
    <div class="button js-buttonCreateCard js-collapsable-container js-hidden">
      <i class="far fa-address-card button__icon"></i>
      <div class="button__text">Crear tarjeta</div>
    </div>
  </div>

  <div class="form__border"></div>

  <div class="shared hidden js-hiddentw">
    <h3 class="shared__text">La tarjeta ha sido creada:</h3>
    <div class="shared__link js-url"></div>
    <div class="shared__button ">
      <button class="shared__button--twitter js-buttontwiter">
        <i class="fa fa-twitter" title="Comparte en Twitter"></i
        ><a
          href="https://twitter.com/?lang=es"
          class="share__result--twitterlink js-twitter-link"
          data-show-count="false"
          target="_blank"
          >Compartir en twitter
        </a>
      </button>
    </div>
  </div>
</section>
<div class="form__border--share"></div>
</section>
