<include
  src="title-fieldset.html"
  iconL='"fas fa-share-alt"'
  title="Comparte"
  iconR='"fas fa-angle-down"'
></include>
<div class="button">
  <i class="button__icon" class="far fa-address-card"></i>
  <div class="button-text">Crear tarjeta</div>
</div>
<div class="shared">
  <title class="shared__text">La tarjeta ha sido creada:</title>
  <div class="shared__link"></div>
  <div class="shared__button">
    <title class="shared__button--text">Compartir en Twitter</title>
    <div class="shared__button--icon"><i class="fab fa-twitter"></i></div>
  </div>
</div>
