<div class="box-tooltip phone">
  <span class="tooltip js-tooltip">
    <a class="contact__icon__pic fas fa-mobile-alt" href="@@phone"></a>
    ¿Hablamos?</span
  >
</div>
<div class="box-tooltip mail">
  <span class="tooltip js-tooltip">
    <a class="contact__icon__pic far fa-envelope"></a>Contáctame, no tardaré en
    contestarte.</span
  >
</div>
<div class="box-tooltip linkedin">
  <span class="tooltip js-tooltip">
    <a class="contact__icon__pic fab fa-linkedin-in"></a>Descubre mi trayectoria
    profesional</span
  >
</div>
<div class="box-tooltip github">
  <span class="tooltip js-tooltip">
    <a class="contact__icon__pic fab fa-github-alt"></a><br />Echa un vistazo a
    mis proyectos</span
  >
</div>
