.header {
  width: 100%;
  background-color: $color-index-background;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 250px;
    margin-top: 95px;

    @media all and(min-width: 768px) {
      width: 419px;
      margin-top: 290px;
    }
  }
}
