.main-index {
  width: 100%;

  background-color: $color-index-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $font-main;
  font-size: 12.8px;

  @media all and(min-width: 768px) {
    font-size: 16px;
  }

  &__title {
    margin: 35.4px 49.3px 0px 47.7px;
    font-family: $font-main;
    color: $color-orange;
    font-size: 19.2px;

    @media all and(min-width: 768px) {
      margin: 31px 245px 0px;
      font-size: 24px;
    }
  }

  &__subtitle {
    color: $color-secondarytext;
    margin: 0px 28px 0px 27.2px;

    @media all and(min-width: 768px) {
      margin: 0px 218px 0px 219px;
    }
  }

  &__options {
    margin: 17.8px 26.4px 0px 25.6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 268px;
    height: 74px;
    border: 1.6px solid rgba(225, 115, 52, 0.21);
    border-radius: 4px;

    @media all and(min-width: 768px) {
      width: 325px;
      height: 86px;
      margin-top: 27px;
      margin-right: 221px;
      margin-left: 222px;
      border-width: 2px;
    }

    .options__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item__pic {
        color: $color-icon;
        font-size: 22.4px;

        @media all and(min-width: 768px) {
          font-size: 28px;
        }
      }

      .item__title {
        color: $color-text;
        font-size: 12.8px;
        text-align: left;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 38.6px 101px 30px 90px;
    background-color: $color-button;
    border-radius: 21px;
    font-weight: SemiBold;
    font-size: 16px;
    text-transform: uppercase;

    @media all and(min-width: 768px) {
      margin: 186px 319px 59px 320px;
    }

    .nav__startlink {
      color: $color-grey3;
      width: 100%;
    }
  }
}
