.main-index {
  width: 100%;
  height: 52.81vh;
  background-color: $color-index-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $font-main;
  font-size: 0.75rem;
  border-bottom: 0.18vh solid $color-borderfooter;

  @media all and(min-width: 768px) {
    font-size: 1rem;
    height: 49.65vh;
  }

  &__title {
    margin: 6.37vh 15.28vw 0px 14.787vw;
    font-family: $font-title;
    color: $color-orange;
    font-size: 1.188rem;

    @media all and(min-width: 768px) {
      margin: 3.1vh 31.85vw 0px;
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    color: $color-secondarytext;
    margin: 0px 8.68vw 0px 8.432vw;

    @media all and(min-width: 768px) {
      margin: 0px 28.34vw 0px 28.47vw;
    }
  }

  &__options {
    margin: 3.2vh 8.184vw 0px 7.936vw;
    padding: 2.7vh 6.2vw 1.8vh;
    display: flex;
    gap: 7.44vw;
    border: 0.28vh solid rgba(225, 115, 52, 0.21);
    border-radius: 4px;

    @media all and(min-width: 768px) {
      margin-top: 2.7vh;
      margin-right: 28.73vw;
      margin-left: 28.86vw;
      gap: 3.9vw;
      border-width: 0.2vh;
    }

    .options__item {
      width: 18.6vw;
      height: 8.784vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media all and(min-width: 768px) {
        width: 9.75vw;
        height: 6.1vh;
      }

      .item__pic {
        color: $color-icon;
        font-size: 1.375rem;

        @media all and(min-width: 768px) {
          font-size: 1.75rem;
        }
      }

      .item__title {
        color: $color-text;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39.99vw;
    height: 7.56vh;
    margin: 6.948vh 31.31vw 5.4vh 27.9vw;
    background-color: $color-button;
    border-radius: 21px;
    font-weight: SemiBold;
    font-size: 1rem;
    text-transform: uppercase;

    @media all and(min-width: 768px) {
      margin: 18.6vh 41.47vw 5.9vh 41.6vw;
    }

    .nav__startlink {
      color: $color-grey3;
      width: 100%;
    }
  }
}
