.main__preview {
  width: 100%;
  height: 475px;
  display: flex;
  background: linear-gradient(#bfcdd0, #dde9ed);
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    border-radius: 6px;
    width: 43%;
    min-width: 329px;
    height: 812px;
    margin-top: 23px;
    margin-right: 40px;
  }
  @media all and (min-width: 1024px) {
    width: 57%;
    min-width: 585px;
  }
}

.preview__resetbutton {
  width: 75px;
  height: 30px;
  background: transparent;
  color: $color-grey;
  text-transform: uppercase;
  font-family: $font-main;
  font-size: 12px;
  border: solid 1px white;
  border-radius: 15px;
  margin-top: 38px;
  transform: translate(-80px);
  @media all and (min-width: 768px) {
    margin-top: 173px;
  }
}
.fa-trash-alt {
  font-size: 12px;
  line-height: 20px;
  color: $color-grey;
}
.preview__card {
  width: 240px;
  height: 329px;
  background: white;
  margin-top: 20px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__line--color {
  border-left: solid 5px $color-1b;
}

.card__name {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-family: $font-card;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  white-space: nowrap;
}

.card__name--color {
  color: $color-1a;
}
.card__job {
  height: 20px;
  color: $color-grey;
  font-family: $font-card;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__pic {
  display: block;
  width: 100%;
  height: rem(200);
  margin: 10px 0 8px 0;
  background-size: cover;
  background-position: center;
}

.pic_background {
  background-image: url("../images/preview2.png");
}

.card__contact {
  height: 50px;
  width: 164px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__icon {
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  :hover {
    font-size: 24px;
    cursor: pointer;
  }
}
.contact__icon__pic {
  align-content: center;
}
.icon--color {
  color: $color-1a;
}

.contact__icon--color {
  border: solid 2px $color-1c;
}

.color-2a {
  color: $color-2a;
}

.color-2b {
  border-left: solid 5px $color-2b;
}

.color-2c {
  border: solid 2px $color-2c;
}

.color-3a {
  color: $color-3a;
}

.color-3b {
  border-left: solid 5px $color-3b;
}

.color-3c {
  border: solid 2px $color-3c;
}
.color-4a {
  color: $color-4a;
}

.color-4b {
  border-left: solid 5px $color-4b;
}

.color-4c {
  border: solid 2px $color-4c;
}
.color-5a {
  color: $color-5a;
}

.color-5b {
  border-left: solid 5px $color-5b;
}

.color-5c {
  border: solid 2px $color-5c;
}
