/*.share__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/
.shared {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(213, 213, 213, 0.7);
  box-shadow: 0 0 5px 3px rgba(213, 213, 213, 0.4);
  margin: 30px auto;
}
.button__icon {
  font-size: 22px;
  color: #ffffff;
  margin-right: 10px;
  vertical-align: middle;
}
.button__text {
  text-align: center;
  font-size: 18px;
  font-family: $font-main;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
}

.shared__text {
  font-size: 18px;
  font-family: $font-main;
  font-weight: 700;
  margin-top: 50px;
}
.shared__link {
  font-size: 12px;
  color: $color-icon;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}
.shared__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  background-color: #00a0f5;
  border-radius: 3px;
  color: #ffffff;
  //margin-bottom: 60px;
  margin-bottom: 30px;
}
.shared__button--text {
  font-size: 14px;
  font-family: $font-main;
  line-height: 20px;
}
.shared__icon {
  margin-right: 6px;
}
