@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@700&family=Open+Sans&display=swap");
@import "core/variables";
@import "core/reset";
@import "core/functions";
@import "pages/index";
@import "pages/design-card";
